#Ignore all
*

!htdocs/
!htdocs/*
!htdocs/*/*
!htdocs/*/*/*
!htdocs/*/*/*/*
!htdocs/*/*/*/*/*
!htdocs/*/*/*/*/*/*
!htdocs/*/*/*/*/*/*/*


!mysql/
!mysql/*
!mysql/*/*
!mysql/*/*/*
!mysql/*/*/*/*

*.ini
mysql/bin/my.ini
